{% extends 'GinVorteXSeoBundle::base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <h2>On Page SEO</h2>
            <ul class="seo">
                <li>
                    <h3>Web Title</h3>
                </li>
                <li>
                    <h3>Meta Description</h3>
                </li>
                <li>
                    <h3>Meta Keyword</h3>
                </li>
                <li>
                    <h3>OpenGraph Meta</h3>
                </li>
                <li>
                    <h3>Facebook Meta</h3>
                </li>
                <li>
                    <h3>Twitter Meta</h3>
                </li>
                <li>
                    <h3>GPlus Meta</h3>
                </li>
                <li>
                    <h3>URL Structure</h3>
                </li>
                <li>
                    <h3>Navigation</h3>
                </li>
                <li>
                    <h3>Breadcrumb</h3>
                </li>
                <li>
                    <h3>Heading</h3>
                </li>
                <li>
                    <h3>Image Optimization</h3>
                </li>
                <li>
                    <h3>Anchor Optimization</h3>
                </li>
                <li>
                    <h3>Anchor Optimization</h3>
                </li>
                <li>
                    <h3>Cloud Text</h3>
                </li>
                <li>
                    <h3>Cloud Keyword</h3>
                </li>
            </ul>
        </li>
        <li>
            <h2>Off Page SEO</h2>
            <ul class="seo">
                <li>
                    <h3>Link Building</h3>
                    <ul class="seo">
                        <li>
                            <h4>Keywords Hierarchy</h4>
                        </li>
                        <li>
                            <h4>Links Hierarchy</h4>
                            <ul class="seo">
                                <li class="hierarchy">
                                    <h5 style="background-color: #ff6fac;font-weight:bold;">Target URL</h5>
                                    <span>http://www.example.com/</span>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="hierarchy">
                                    <h5 style="background-color: #ff9900;font-weight:bold;">Tier 1</h5>
                                    <span>Web 2.0</span>
                                    <span>Article</span>
                                    <span>Social Network</span>
                                    <div class="clearfix"></div>
                                </li>                    
                                <li class="hierarchy">
                                    <h5 style="background-color: #ffff00;font-weight:bold;">Tier 2</h5>
                                    <span>Forum</span>
                                    <span>Article Directory</span>
                                    <span>Social Bookmark</span>
                                    <span>Microblog</span>
                                    <span>Web 2.0</span>
                                    <span>Article</span>
                                    <span>Social Network</span>
                                    <div class="clearfix"></div>
                                </li>                    
                                <li class="hierarchy">
                                    <h5 style="background-color: #00ff00;font-weight:bold;">Tier 3</h5>
                                    <span>Forum</span>
                                    <span>Article Directory</span>
                                    <span>Social Bookmark</span>
                                    <span>Microblog</span>
                                    <span>Web 2.0</span>
                                    <span>Article</span>
                                    <span>Social Network</span>
                                    <span>Guest Book</span>
                                    <span>Submission URL</span>
                                    <span>Blog Comment</span>
                                    <div class="clearfix"></div>
                                </li>                    
                                <li class="hierarchy">
                                    <h5 style="background-color: #00ffff;font-weight:bold;">Up Tier 3</h5>
                                    <span>Forum</span>
                                    <span>Article Directory</span>
                                    <span>Submission URL</span>
                                    <span>Classified Ads</span>
                                    <span>Blog Comment</span>
                                    <span>Social Bookmark</span>
                                    <span>Microblog</span>
                                    <div class="clearfix"></div>
                                </li>                    
                            </ul>
                            <div class="clearfix" style="height:50px;"></div>
                        </li>
                        <li>
                            <h4>Target Site <i>(for Indonesian Site Only)</i></h4>
                            <ul class="seo">
                                <li>
                                    <h5>Submission URL</h5>
                                    <ul class="seo">
                                        <li>Google <br />
                                            <ul class="seo font-normal">
                                                <li>https://www.google.com/webmasters/tools/submit-url</li>
                                                <li>https://www.google.com/webmasters/tools/sitemap-list</li>
                                            </ul>
                                        </li>
                                        <li>Yahoo <br />
                                            <p class="seo font-normal">Since 2010, Yahoo search has been powered by Microsoft's Bing search engine. When you submit your site to Bing you will also show up in Yahoo's search results. See below on how to submit your site to Bing.  Yahoo! had a paid submission process in the past, although Yahoo! Directory is no longer available.</p>
                                        </li>
                                        <li>Bing<br />
                                            <ul class="seo font-normal">
                                                <li>http://www.bing.com/toolbox/submit-site-url</li>
                                            </ul>
                                        </li>
                                        <li>Others <br />
                                            <ul class="seo font-normal">
                                                <li>http://www.submitexpress.com/free-submission.html</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="clearfix" style="height:50px;"></div>
                                </li>
                                <li>
                                    <h5>Web 2.0</h5>
                                    <ul class="seo font-normal list">
                                        <li>PR 9 - Wordpres.com</li>
                                        <li>PR 8 - Weebly.com</li>
                                        <li>PR 8 - Blogger.com</li>
                                        <li>PR 8 - LiveJournal.com</li>
                                        <li>PR 8 - Tumblr.com</li>
                                        <li>PR 7 - Bravenet.com</li>
                                        <li>PR 7 - Webs.com</li>
                                        <li>PR 7 - EduBlogs.org</li>
                                        <li>PR 7 - AngelFire.Lycos.com</li>
                                        <li>PR 7 - Yola.com</li>
                                        <li>PR 6 - Blog.com</li>
                                        <li>PR 6 - Kompasiana.com</li>
                                        <li>PR 5 - Jigsy.com</li>
                                        <li>PR 5 - BlogDetik.com</li>
                                        <li>PR 5 - BlogDrive.com</li>
                                        <li>PR 4 - MoBlog.net</li>
                                        <li>PR 4 - OhLog.com</li>
                                        <li>PR 4 - FotoPages.com</li>
                                        <li>PR 4 - MyWapBlog.com</li>
                                        <li>PR 4 - ProBlogs.com</li>
                                        <li>PR 3 - BlogIgo.com</li>
                                        <li>PR 3 - Inube.com</li>
                                        <li>PR 3 - InsaneJournal.com</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <h5>Article Directory</h5>
                                    <ul class="seo font-normal list">
                                        <li>EArticlesOnline.com</li>
                                        <li>ArtiPot.com</li>
                                        <li>SooPerArticles.com</li>
                                        <li>PubArticles.com</li>
                                        <li>EzineMark.com</li>
                                        <li>ArticleSphere.com</li>
                                        <li>ArticlesFactory.com</li>
                                        <li>ArticlesBase.com</li>
                                        <li>ArticleBiz.com</li>
                                        <li>Amazines.com</li>
                                        <li>AfroArticles.com</li>
                                        <li>A1Articles.com</li>
                                        <li>Triond.com</li>
                                        <li>SelfSeo.com</li>
                                        <li>ArticleTrader.com</li>
                                        <li>ArticleCube.com</li>
                                        <li>ArticleAlley.com</li>
                                        <li>SelfGrowth.com</li>
                                        <li>PromotionWorld.com</li>
                                        <li>IsNare.com</li>
                                        <li>HubPages.com</li>
                                        <li>GoArticles.com</li>
                                        <li>EzineArticles.com</li>
                                        <li>ExcellentGuide.com</li>
                                        <li>ArticleDashboard.com</li>
                                        <li>ArticleCity.com</li>
                                        <li>Squidoo.com</li>
                                        <li>Scribd.com</li>
                                        <li>MArticles.net</li>
                                        <li>Add-Website.info</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <h5>Social Network</h5>
                                    <ul class="seo font-normal list">
                                        <li>Google Plus</li>
                                        <li>Facebook</li>
                                        <li>Twitter</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <h5>Forum</h5>
                                    <ul class="seo font-normal list">
                                        <li>articlepot.com</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <h5>Blog</h5>
                                    <ul class="seo font-normal list">
                                        <li>articlepot.com</li>                    
                                    </ul>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <h5>Comment Geurilla</h5>
                                    <ul class="seo font-normal list">
                                        <li>articlepot.com</li>                    
                                    </ul>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> 
            </ul>
        </li>
    </ul>
{% endblock %}
