{% extends 'GinVorteXSeoBundle::base.html.twig' %}
{% block stylesheets -%}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
{% endblock%}

{% block body -%}
    <h2>Meta Web edit</h2>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('SEOBundles_meta') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script language="javascript" src="/bundles/ginvortexseo/library/fckeditor/fckeditor.js"></script>
    <script language="javascript">
        var sBasePath = '/bundles/ginvortexseo/library/fckeditor/';
        var fckCloudText = new FCKeditor( 'ginvortex_seobundle_metaweb[cloudText]' ) ;
        fckCloudText.BasePath = sBasePath ;
        fckCloudText.ReplaceTextarea() ;            

        $('select#ginvortex_seobundle_metaweb_path').select2();
        $('select#ginvortex_seobundle_metaweb_cloudKeyword').select2();
        
        $('form[name=ginvortex_seobundle_metaweb]').submit(function(e){
            e.preventDefault();
            var jsonString  = JSON.stringify($('select#ginvortex_seobundle_metaweb_cloudKeyword').val());
            var fckString   = FCKeditorAPI.GetInstance('ginvortex_seobundle_metaweb[cloudText]').GetHTML(true);
            $.ajax({
                url: $(this).attr('action'),
                method: 'PUT', 
                data: {
                   path          : $('#ginvortex_seobundle_metaweb_path').val(), 
                   title         : $('#ginvortex_seobundle_metaweb_title').val(), 
                   description   : $('#ginvortex_seobundle_metaweb_description').val(), 
                   keywords      : $('#ginvortex_seobundle_metaweb_keywords').val(), 
                   imagePage     : $('#ginvortex_seobundle_metaweb_imagePage').val(), 
                   altImage      : $('#ginvortex_seobundle_metaweb_altImage').val(), 
                   altTitle      : $('#ginvortex_seobundle_metaweb_altTitle').val(), 
                   cloudText     : fckString, 
                   cloudKeyword  : jsonString
                }
            }).done(function(data){
                window.location = '{{ path('SEOBundles_meta') }}';
            }).fail(function(data){
                alert(data.errorMessage);                
            });
        });
    </script>
{% endblock %}

