{% extends 'GinVorteXSeoBundle::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <h2>Meta Web list</h2>
            <ul>
                <li>
                    <a href="{{ path('SEOBundles_meta_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
            <table class="records_list table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Path</th>
                        <th>Posting Date</th>
                        <th>Update Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('SEOBundles_meta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.path }}</td>
                        <td>{% if entity.postingDate %}{{ entity.postingDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                        <td>{% if entity.updateDate %}{{ entity.updateDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('SEOBundles_meta_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('SEOBundles_meta_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
