{% extends 'GinVorteXSeoBundle::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <h2>Meta Web</h2>

            <table class="record_properties table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Path</th>
                        <td>{{ entity.path }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ entity.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ entity.description }}</td>
                    </tr>
                    <tr>
                        <th>Keywords</th>
                        <td>{{ entity.keywords }}</td>
                    </tr>
                    <tr>
                        <th>Image Page</th>
                        <td>{{ entity.imagePage }}</td>
                    </tr>
                    <tr>
                        <th>Alt Image</th>
                        <td>{{ entity.altImage }}</td>
                    </tr>
                    <tr>
                        <th>Alt Title</th>
                        <td>{{ entity.altTitle }}</td>
                    </tr>
                    <tr>
                        <th>Cloud Text</th>
                        <td>{{ entity.cloudText|raw }}</td>
                    </tr>
                    <tr>
                        <th>Cloud Keyword</th>
                        <td>{{ entity.cloudKeyword }}</td>
                    </tr>
                    <tr>
                        <th>Posting Date</th>
                        <td>{{ entity.postingDate|date('d-m-Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Update Date</th>
                        <td>{{ entity.updateDate|date('d-m-Y H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('SEOBundles_meta') }}">
                        Back to the list
                    </a>
                </li>
                <li>
                    <a href="{{ path('SEOBundles_meta_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
