/* 
    Created on : Sep 4, 2015, 10:00:13 PM
    Author     : Tommy Dian P
*/

ul{
    list-style: none;
    padding: 0;
    font-weight: bold;
}

form{
    width:100%;
}

form > div > div{
    margin : 5px 0;
}

form label{
    width:15%; 
    vertical-align: top;
}