/* 
    Created on : Sep 5, 2015, 7:56:34 AM
    Author     : Tommy Dian P
*/

.font-normal{
    font-weight: normal;
}
h1.seo{
    font-size: 20px;
    margin: 0;
}
ul.seo, 
p.seo{
    margin-left: 30px;
}
ul.list{
}
ul.list li{
    float:left;
    width: 25%;
}

li.hierarchy{
    text-align: center;
}
li.hierarchy span{
    margin: 0 10px;
    font-weight: normal;
}
li.hierarchy ul{
}
li.hierarchy ul > li{
    float:left;
    margin: 0 20px;
}