{% extends 'GinVorteXSeoBundle::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <h2>Global Config creation</h2>
            {{ form(edit_form) }}
            <ul class="record_actions">
                <li>
                    <a href="{{ path('SEOBundles_config') }}">
                        Back to the list
                    </a>
                </li>
            </ul>
        </div>
    </div>
</ul>
{% endblock %}