{% extends 'GinVorteXSeoBundle::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <h2>Global Config list</h2>

            <table class="records_list table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Domain</th>
                        <th>Language</th>
                        <th>Country</th>
                        <th>Posting Date</th>
                        <th>Update Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('SEOBundles_config_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.domain }}</td>
                        <td>{{ entity.language }}</td>
                        <td>{{ entity.country }}</td>
                        <td>{% if entity.postingDate %}{{ entity.postingDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                        <td>{% if entity.updateDate %}{{ entity.updateDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('SEOBundles_config_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('SEOBundles_config_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
