{% extends 'GinVorteXSeoBundle::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <h2>Global Config</h2>

            <table class="record_properties table">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>: {{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Domain</th>
                        <td>: {{ entity.domain }}</td>
                    </tr>
                    <tr>
                        <th>Facebook</th>
                        <td>: {{ entity.facebook }}</td>
                    </tr>
                    <tr>
                        <th>Twitter</th>
                        <td>: {{ entity.twitter }}</td>
                    </tr>
                    <tr>
                        <th>Gplus</th>
                        <td>: {{ entity.gplus }}</td>
                    </tr>
                    <tr>
                        <th>Default Image</th>
                        <td>: {{ entity.defaultImage }}</td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td>: {{ entity.language }}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>: {{ entity.country }}</td>
                    </tr>
                    <tr>
                        <th>Geolocation</th>
                        <td>: {{ entity.geoLocation }}</td>
                    </tr>
                    <tr>
                        <th>Posting Date</th>
                        <td>: {{ entity.postingDate|date('d-m-Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Update Date</th>
                        <td>: {{ entity.updateDate|date('d-m-Y H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('SEOBundles_config') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('SEOBundles_config_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
        </ul>
        </div>
    </div>
{% endblock %}
