{% if config.domain %}
    {% if meta.title %}
    <title>{{ meta.title }} | {{ config.domain }}</title>
    {% endif %}
    {% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
    {% endif %}
    {% if meta.keywords %}
    <meta name="keywords" content="{{ meta.keywords }}">
    {% endif %}
    <meta name="author" content="{{ config.domain }}">
    <meta name="copyright" content="Copyright by {{ config.domain }}">
    <meta name="robots" content="index, follow" />        
    {% if meta.title %}
        {% if meta.description %}
            {% if meta.imagePage %}
    <meta itemprop="name" content="{{ meta.title }}">
    <meta itemprop="description" content="{{ meta.description }}">
    <meta itemprop="image" content="{{ meta.imagePage }}">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{{ meta.pageImage }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:site_name" content="{{ config.domain }}" />
    <meta name="twitter:card" content="summary">
                {% if config.twitter %}
    <meta name="twitter:site" content="{{ config.twitter}}">
                {% endif %}
    <meta name="twitter:title" content="{{ meta.title }}">
    <meta name="twitter:description" content="{{ meta.description }}">
    <meta name="twitter:image" content="{{ meta.pageImage }}">
    <meta name="twitter:url" content="{{ app.request.uri }}">
            {% endif %}
        {% endif %}
    {% endif %}    
    {% if config.country %}
        {% if config.language %}
    <meta http-equiv="content-language" content="{{ config.language }}-{{ config.country }}">
        {% endif %}
    {% endif %}
    {% if config.geoLocation %}
    <meta name="geo.position" content="{{ config.geoLocation }}">
    {% endif %}
    {% if config.country %}
    <meta name="geo.country" content="{{ config.country }}">
    {% endif %}
{% endif %}