{% extends 'GinVorteXSeoBundle::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <h2>Target Keyword creation</h2>
            {{ form(form) }}
            <ul class="record_actions">
                <li>
                    <a href="{{ path('SEOBundles_keyword') }}">
                        Back to the list
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}