{% extends 'GinVorteXSeoBundle::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <h2>Target Keyword</h2>

            <table class="record_properties table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Keyword</th>
                        <td>{{ entity.keyword }}</td>
                    </tr>
                    <tr>
                        <th>Path</th>
                        <td>{{ entity.path }}</td>
                    </tr>
                    <tr>
                        <th>Posting Date</th>
                        <td>{{ entity.postingDate|date('d-m-Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Update Date</th>
                        <td>{{ entity.updateDate|date('d-m-Y H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('SEOBundles_keyword') }}">
                        Back to the list
                    </a>
                </li>
                <li>
                    <a href="{{ path('SEOBundles_keyword_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
